.material-theme {
  --color-on-surface: var(--md-sys-color-on-surface);
  --color-surface: var(--md-sys-color-surface);

  --color-surface-variant: var(--md-sys-color-surface-variant);
  --color-on-surface-variant: var(--md-sys-color-on-surface-variant);
}
