@use 'colors.scss';
@use 'material-theme-builder-generated-styles.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  color: var(--color-on-surface);
  background-color: var(--color-surface);
}
