@use 'colors.scss';
@use 'material-theme-builder-generated-styles.css';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  color: var(--color-on-surface);
  background-color: var(--color-surface);
}

* {
  box-sizing: border-box;
}

i {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

a {
  color: unset;
  text-decoration: none;

  &:visited {
    color: unset;
  }
}
