<h1 class="headline1">Резная Уточка</h1>
<p class="subhead1">Плыви вперёд, лети ввысь!</p>

<img class="logo" src="assets/reznaya-utochka.jpg" alt="Резная Уточка" />

<section>
  <h2 class="headline4">О нас</h2>
  <p>Радуем людей красивыми, полезными и&nbsp;простыми вещами на&nbsp;постоянной основе</p>
</section>

<section>
  <h2 class="headline4">Что делаем?</h2>
  <p>Лазерная резка, гравировка по&nbsp;фанере и&nbsp;дереву</p>
</section>

<section>
  <h2 class="headline4">Когда?</h2>
  <p>Ищем идеи, проверяем лампу</p>
</section>

<section>
  <h2 class="headline4">Контакты</h2>

  <strong class="person">Сергей Клевакин</strong>

  <ul class="contact-list">
    <li>
      <a href="tel:+79086327201">+7 (908) 632 72 01</a>
    </li>

    <li>
      <a href="mailto:justerest@gmail.com">justerest@gmail.com</a>
    </li>

    <li>
      <a href="tg://resolve?domain=justerest">Telegram: justerest</a>
    </li>
  </ul>
</section>
