<header class="header" (click)="toggleTheme()">
  <app-logo class="logo"></app-logo>

  <div class="title-group">
    <h1 class="headline1">Резная Уточка</h1>
    <p class="subhead1 subtitle">Плыви вперёд, лети&nbsp;ввысь!</p>
  </div>
</header>

<section>
  <h2 class="headline4">О нас</h2>
  <p>Планируем радовать людей красивыми и&nbsp;полезными вещами на&nbsp;постоянной основе</p>
</section>

<section>
  <h2 class="headline4">Что делаем?</h2>
  <p>Лазерная гравировка на&nbsp;фанере и&nbsp;дереве, изделия из&nbsp;фанеры</p>
</section>

<section>
  <h2 class="headline4">Контакты</h2>

  <h4 class="subhead1">Сергей Клевакин</h4>

  <ul class="contact-list">
    <li>
      <a href="tel:+79086327201">+7 (908) 632 72 01</a>
    </li>

    <li>
      <a href="mailto:justerest@gmail.com">justerest@gmail.com</a>
    </li>

    <li>
      <a href="tg://resolve?domain=justerest">Telegram: justerest</a>
    </li>
  </ul>
</section>
